@charset "UTF-8";
/*口コミ削除*/

th,
td {
  border: solid 1px; /* 枠線指定 */
}

.a {
  border-collapse: collapse; /* セルの線を重ねる */
}
ul.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #044f88;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}
ul.topnav li a.left {
  background-color: #044f88;
}
ul.topnav li.right {
  float: right;
}
.contaner {
  display: flex;
  width: 100%;
}
span {
  display: block;
}
.blockitem {
  flex: 1;
  font-size: 28px;
  text-align: center;
  padding-top: 10px;
  height: 60px;
  position: relative;
}
.body {
  flex: 4;
  height: 500px;
  border-left: 1px solid #747474;
}
.blockitem a {
  vertical-align: 10px;
  text-decoration: none;
}
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: red;
  font-size: 15px;
}

.overflow-y-area {
  border: 1px solid;
  height: 50px;
}
.overflow-y {
  overflow-y: scroll;
  height: 100%;
  font-size: 12px;
}
