<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='/css/aboutSite.css')}}"/>
    <title>MusicReefについて</title>
  </head>
  <body>
    <ul class="topnav">
      <li>
        <a class="left" href="{{url_for('user_top')}}"><h2>　MUSIC REEF</h2></a>
      </li>
      <li class="right">
        <a
          href="{{url_for('terms_of_service')}}"
          style="
            border-left: 2px solid white; /*線の設定*/
            padding: 2px 8px; /*余白の設定*/
          "
          ><h2>利用規約</h2></a
        >
      </li>
    </ul>
    <h1 class="MusicReefText">　　MusicReefについて</h1>
    <div class="text1">
      <p>MusicReefは学生4人で卒業研究にあたって作成したWebアプリケーションとなります。
      本サイトはフリー音源配布サイトの音源をまとめた”フリー音源まとめサイト”となります。利用規約
      にあたっては各サイトの規約に従ってください。</p><br>
    </div>
    <h1 class="MusicReefText">　　使い方について</h1>
    <div class="text2">
      <p>検索フォームに探したい楽曲のジャンル・楽曲名・雰囲気・楽器名・用途、等を入力
        （複数入力する場合はスペースを空ける）し、楽曲を検索後ダウンロードというリンクをクリック
        していただくと各サイトのダウンロードページに遷移します。また、コメントの投稿や評価を行う
        ことも可能となっています、ただし悪質なコメント等を発見した場合は削除を行います。
      </p><br>
    </div>
    <h1 class="MusicReefText">　　お問い合わせについて</h1>
    <div class="text2">
      <p>お問い合わせに関しましてはこちらのメールアドレスにお願いします。【musicreef820@gmail.com】
      </p><br>
    </div>
    

    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="footer04">
      <h1>MUSIC REEF</h1>
      <ul class="menu">
        <li><a href="{{url_for('user_top')}}">ホーム</a></li>
        <li><a href="#">MUSIC REEF(ミュージックリーフ)について</a></li>
      </ul>
    </div>
  </body>
</html>
