<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='/css/route.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/modal.css')}}">
    
    <title>MusicReef</title>
    {% endblock %}
    
      
  </head>
  <body>
    <ul class="topnav">
      <li>
        <a class="left" href="#"><h2>　MUSIC REEF 管理者</h2></a>
      </li>
      <li class="right">
        <a
          href="#"
          style="
            border-left: 2px solid white; /*線の設定*/
            padding: 2px 8px; /*余白の設定*/
          "
          ><h2>ログアウト</h2></a
        >
      </li>
    </ul>
    <div class="contaner">
      <div>
        <span style="background-color: #548eba; height: 45px" class="blockitem"
          ><a style="color: white; font-size: 23px">音源の管理</a></span
        >
        <span class="blockitem" style="height: 45px"
          ><a href="#" style="color: rgb(60, 60, 60); font-size: 23px"
            >音源検索</a
          ></span
        >
        <span class="blockitem" style="height: 45px"
          ><a
            href="{{url_for('music_register')}}"
            style="color: rgb(60, 60, 60); font-size: 23px"
            >音源登録</a
          ></span
        >
        <span style="background-color: #548eba; height: 45px" class="blockitem"
          ><a style="color: white; font-size: 23px">口コミ管理</a></span
        >
        <span class="blockitem" style="height: 45px"
          ><a href="#" style="color: rgb(60, 60, 60); font-size: 23px"
            >口コミ削除</a
          ></span
        >
        <span style="background-color: #548eba; height: 45px" class="blockitem"
          ><a style="color: white; font-size: 23px">アカウント管理</a></span
        >
        <span class="blockitem" style="height: 45px"
          ><a href="{{url_for('admin_list')}}" style="color: rgb(60, 60, 60); font-size: 23px"
            >管理者一覧</a
          ></span
        >
        <span class="blockitem" style="height: 45px"
          ><a href="#" style="color: rgb(60, 60, 60); font-size: 23px"
            >アカウント編集</a
          ></span
        >
      </div>
      <div class="body">
        <h3 class="title1">フリー音源の検索</h3>
        <div class="search-box">
            <select name=”item”>
                <option value=”item1”>項目1</option>
                <option value=”item2”>項目2</option>
                <option value=”item3”>項目3</option>
                <option value=”item4”>項目4</option>
                <option value=”item5”>項目5</option>
            </select>
            <input type="text" placeholder="検索ワード">
            <button type="submit">
                <i class="fas fa-search fa-fw"></i>
            </button>
        </div>
        <div class="example" style="padding: 5px; margin-left: 10px">
        </div>
        <h3 class="title2">並び替え</h3>
        <select class="sort" name=”item”>
            <option value=”item1”>項目1</option>
            <option value=”item2”>項目2</option>
            <option value=”item3”>項目3</option>
            <option value=”item4”>項目4</option>
            <option value=”item5”>項目5</option>
        </select>
        <h3 class="title3">音源時間</h3>
        <select class="time" name=”item”>
            <option value=”item1”>項目1</option>
            <option value=”item2”>項目2</option>
            <option value=”item3”>項目3</option>
            <option value=”item4”>項目4</option>
            <option value=”item5”>項目5</option>
        </select>
        <h3 class="title4">サイト</h3>
        <select class="site" name=”item”>
            <option value=”item1”>項目1</option>
            <option value=”item2”>項目2</option>
            <option value=”item3”>項目3</option>
            <option value=”item4”>項目4</option>
            <option value=”item5”>項目5</option>
        </select>
        <div class="example" style="padding: 5px;">
          <div class="page "style="display: none;">
            {% for sound in music %}
              {% if loop.index % 15 == 1 %}
                <div style="clear:both;"></div>
              {% endif %}
              <div style="float: left; margin: 10px; width: 18%;">
                <table border="1" style="margin-bottom: 10px; width: 210px;">
                  <tr>
                    <td style="width: 45px; height: 45px">logo</td>
                    <td colspan="3" style="width: 150px; background-color: #DEDEDE">{{ sound[1] }}</td>
                  </tr>
                  <tr>
                    <td colspan="4" style="border: none">作曲者：{{ sound[5] }}</td>
                  </tr>
                  <tr>
                    <td colspan="4" style="border: none">参照元：{{ sound[6] }}</td>
                  </tr>
                  <tr>
                    <td style="border: none;"><button class="js-detail-modal-button" >詳細</button></td>
                    <td style="border: none;"><button class="js-modal-button" >編集</button></td>
                    <td style="border: none;"><button class="js-delete-modal-button" data-music="{{ sound[0] }}">削除</button></td>
                    <td style="border: none; width:56px"><button class="js-modal-button" >口コミ</button></td>
                    </td>
                  </tr>
                </table>
              </div>
              {% if loop.index % 5 == 0 %}
              <div style="clear:both;"></div>
              {% endif %}
              {% if loop.index % 15 == 0 or loop.last %}
              </div>
              <div class="page" style="display: none;">
              {% endif %}
            {% endfor %}
            
          </div>
          <div id="pagination" style="clear: both;"></div>
          
        </div>
        
        <script>
          const pages = document.querySelectorAll('.page');
          let currentPage = 1;
        
          function showPage(pageNumber) {
            pages.forEach(page => page.style.display = 'none');
            pages[pageNumber - 1].style.display = 'block';
            currentPage = pageNumber;
          }
        
          function generatePagination() {
            const pagination = document.getElementById('pagination');
            pagination.innerHTML = "";
        
            for (let i = 1; i <= pages.length; i++) {
              const pageButton = document.createElement('button');
              pageButton.textContent = i;
              pageButton.addEventListener('click', () => showPage(i));
              pagination.appendChild(pageButton);
            }
          }
        
          showPage(currentPage);
          generatePagination();
          
        </script>
        </div>
      </div>
    </div>
    <!--　モーダル表示　-->   
    <!--削除のモーダル-->
    <div class="layer delete-modal">
      <div class="modal-header">
        <button class="msg-box msg-position js-delete-close-button">×</button>
        <div class="modal-body">
          <p>この音源を削除しますか？</p>

          <form action="{{url_for('delete_exe')}}" method="post">
          <input  class="delete-music-id" type='hidden' name="music_id" value="">
          
          <button type="submit">削除</button>
          </form>

        </div> 
      </div>
    </div>
    <!--詳細のモーダル-->
    <div class="layer detail-modal">
      <div class="modal-header">
        <button class="msg-box msg-position js-detail-close-button">×</button>
        <div class="modal-body">
          
        </div> 
      </div>
    </div>      
  
  </body>
</html>
