

{% block css %}
<link rel="icon" href="{{url_for('static', filename='/favicon/unnamed.ico')}}">
<link rel="stylesheet" href="{{url_for('static', filename='/css/admin.css')}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

<title>管理者画面</title>

{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('mypage')}}">MUSIC REEF 管理者</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          
            <a class="nav-link" href="{{url_for('logout')}}">ログアウト</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
 
        <h2>音源管理</h2>
        <a href="">音源検索</a>
        <a href="">音源登録</a>
        <h2>口コミ管理</h2>
        <a href="">口コミ削除</a>
        <h2>アカウント管理</h2>
        <a href="">管理者一覧</a>
        <a href="">アカウント編集</a>
        
        <h3>フリー音源の検索</h3>
        <option value="genre1">A</option><input type="text" name="">
        <button type="submit">検索</button>
{% endblock %}