<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/login.css')}}"
    />
    <title>メール送信</title>
  </head>
  <body>
    <p>　　　</p>
    <div class="container">
      <h1>MUSIC REEF</h1>
    </div>
    <div class="container1">
      <p>メール送信</p>
    </div>
    <div class="container2">
      <br />
      <p>入力されたメールアドレスにメールを送信します</p>
      <br />
      <div class="container2-1">
        <form
          action="{{url_for('pass_reset_exe')}}"
          method="post"
          style="text-align: center"
        >
          <input
            type="text"
            style="width: 100%; height: 40px"
            size="80"
            name="mail"
            placeholder="　メール"
          /><br /><br />
          <button type="submit" style="text-align: center">送信</button>
        </form>
      </div>
      <br />
    </div>
  </body>
</html>
