<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MusicReefについて</title>
  </head>
  <body>
    <h3>タグ追加</h3>
    <form action="{{url_for('insert_tag')}}" method="post">
      ジャンル<select name="genre1">
        <option value="1">雰囲気</option>
        <option value="2">感情</option>
        <option value="3">楽器</option>
        <option value="4">用途</option></select
      ><br />
      タグ名<input type="text" name="tag_name" /><br />
      <button type="submit">登録</button>
      <br>
      <a href="{{url_for('music_register')}}">戻る</a>
    </form>
  </body>
</html>
