<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet"/>
  <link rel="icon" href="{{url_for('static', filename='favicon/mrロゴ.ico')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='/css/search_top.css')}}">
  <title>利用者トップ</title>
</head>
<body>
  <ul class="topnav">
    <li>
      <a class="left" href="{{url_for('user_top')}}"><h2>　MUSIC REEF</h2></a>
    </li>
    <li class="right">
      <a
        href="{{url_for('terms_of_service')}}"
        style="
          border-left: 2px solid white;
          padding: 2px 8px;
        "
      ><h2>利用規約</h2></a>
    </li>
  </ul>
  <div style="background-color: #ececec; margin: 0; height: 120px">
    <h3 class="title1">フリー音源の検索</h3>
    <div class="search-box">
      <form action="{{url_for('search_music_result')}}" method="post">
        <select name="genre">
            <option value="">指定しない</option>
            <option value="2">ポップ</option>
            <option value="3">EDM</option>
            <option value="4">ロック</option>
            <option value="5">クラシック</option>
            <option value="6">和風</option>
            <option value="7">ピアノ</option>
            <option value="8">アンビエント</option>
            <option value="9">エレクトロ</option>
            <option value="10">アコースティック</option>
            <option value="11">Chill Hop</option>
        </select>      

          <input type="text" class="tagInput" placeholder="検索ワード" name="name">
          <input type="hidden" name="page" value="{{ page }}"> 
              <button type="submit">
                <i class="fas fa-search fa-fw"></i>
              </button>      
        </form>
    </div>
  </div>

  <div class="expression">
    <p class="p1">music search</p>
    <h3 class="title2">並び替え</h3>
      <select class="sort" name="item">
        <option value="item1">指定しない</option>
          <option value="item2">新しい</option>
          <option value="item3">古い</option>
          <option value="item4">アクセス数</option>
          <option value="item5">五十音順</option>
          <option value="item6">評価が高い</option>
      </select>
      <h3 class="title3">音源時間</h3>
        <select class="music-length" name="length">
          <option value="">指定しない</option>
          <option value="0">~0:59</option>
          <option value="1">1:00~1:59</option>
          <option value="2">2:00~2:59</option>
          <option value="3">3:00~3:59</option>
          <option value="4">4:00~4:59</option>
          <option value="5">5:00~5:59</option>
          <option value="6">6:00~</option>
        </select>
      <h3 class="title4">サイト</h3>
        <select class="site" name="item">
            <option value="" >指定しない</option>
            <option value="1" >DOVA</option>
            <option value="2" >BGMer</option>
            <option value="3" >甘茶の音楽工房</option>
            <option value="4" >MusMus</option>
            <option value="5" >SHW</option>
        </select>
        
    
    <p class="p2">検索結果</p>

    <ul>
      {% if music_list %}
        {% for music in music_list %}
        <div id="music-length-data" data-length ="{{music[5]}}" >
        <div id="music-site-data" data-site = "{{ music[7] }}">
          <li class="music-entry">
            <div class="logo-container">
              {% set logo_keyword = music[8]|lower %}
              {% if 'bgmer' in logo_keyword %}
                <img class="logo-img" src="{{ url_for('static', filename='img/BGMer.jpg') }}" alt="BGMer ロゴ">
              {% elif 'amachamusic' in logo_keyword %}
                <img class="logo-img" src="{{ url_for('static', filename='img/amatya.jpg') }}" alt="Amatya ロゴ">
              {% elif 'dova-s.jp' in logo_keyword %}
                <img class="logo-img" src="{{ url_for('static', filename='img/dova.jpg') }}" alt="Dova ロゴ">
              {% elif 'musmus.main.jp' in logo_keyword %}
                <img class="logo-img" src="{{ url_for('static', filename='img/MusMus.jpg') }}" alt="MusMus ロゴ">
              {% elif 'shw.in' in logo_keyword %}
                <img class="logo-img" src="{{ url_for('static', filename='img/SHW.jpg') }}" alt="SHW ロゴ">
              {% else %}
                <div class="no-image">画像なし</div>
              {% endif %}
            </div>
            <div class="music-info-container">
              <p class="music_title">{{ music[1] }}</p>
              <p class="music-info">作曲: {{ music[6] }}</p>
              <p class="music-info">♬ {{ music[4] }}</p>
              <p class="music-info">
                {% set genre_options = {
                  '1': '指定しない',
                  '2': 'ポップ',
                  '3': 'EDM',
                  '4': 'ロック',
                  '5': 'クラシック',
                  '6': '和風',
                  '7': 'ピアノ',
                  '8': 'アンビエント',
                  '9': 'エレクトロ',
                  '10': 'アコースティック',
                  '11': 'Chill Hop',
                } %}
                {{ genre_options[music[2]] }}
              </p>
              <p class="music-info">👁 {{ music[11] }}回</p>
              <div class="detail-cursor" data-music-id="{{ music[0] }}">詳細な情報</div>
              <div class="music-details-container" id="music-details-{{ music[0] }}">
                <div class="details-box">
                  <div class="tooltip"></div>
                  {% if music[12] != None %}
                    <p>{{ music[12] }}</p>
                  {% else %}
                    <p>利用可能なタグはありません。</p>
                  {% endif %}
                  <br>
                  <p>{{ music[3] }}</p>
                  <br>
                </div>
              </div>
            
              <a href="{{ url_for('review', music_id=music[0]) }}" class="review">
                評価<br>
                {% if average_ratings and music[0] in average_ratings %}
                  <span>{{ average_ratings[music[0]] | round(1) }}/5</span>
                {% else %}
                  <span>-/5</span>
                {% endif %}
              </a>
              <a class="download-action">
                {% if music[8] %}
                  <a href="{{ url_for('download_music', music_id=music[0]) }}" class="download-link">ダウンロード</a>
                {% else %}
                  <span>N/A</span>
                {% endif %}
              </a>
            </div>
          </li>
        </div>
        </div>
        {% endfor %}
      {% endif %}
    </ul>

    <div class="pagination">

    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var detailCursors = document.querySelectorAll(".detail-cursor");

        detailCursors.forEach(function (cursor) {
          cursor.addEventListener("mouseover", function () {
            var musicId = this.getAttribute("data-music-id");
            var musicDetails = document.getElementById(
              "music-details-" + musicId
            );
            var tooltip = musicDetails.querySelector(".tooltip");
            var detailsBox = musicDetails.querySelector(".details-box");

            if (musicDetails) {
              var rect = this.getBoundingClientRect();
              musicDetails.style.display = "block";

              detailsBox.style.display = "block";
            }
          });

          cursor.addEventListener("mouseout", function () {
            var musicId = this.getAttribute("data-music-id");
            var musicDetails = document.getElementById(
              "music-details-" + musicId
            );
            var tooltip = musicDetails.querySelector(".tooltip");
            var detailsBox = musicDetails.querySelector(".details-box");

            if (musicDetails) {
              musicDetails.style.display = "none";
              tooltip.style.display = "none";
              detailsBox.style.display = "none";
            }
          });
        });
      });

      
    /*  document.addEventListener("DOMContentLoaded", function () {
        var items = document.querySelectorAll('.music-entry');
        var itemsPerPage = 30;
        var currentPage = {{ page }};
      
        function showPage(page) {
          var startIndex = (page - 1) * itemsPerPage;
          var endIndex = startIndex + itemsPerPage;
      
          for (var i = 0; i < items.length; i++) {
            items[i].style.display = (i >= startIndex && i < endIndex) ? 'flex' : 'none';
          }
        }
      
        function updatePagination(totalItems) {
          var totalPages = Math.ceil(totalItems / itemsPerPage);
          var paginationContainer = document.querySelector('.pagination');
          paginationContainer.innerHTML = '';
      
          if (totalPages > 1) {
            var prevPageLink = document.createElement('a');
            prevPageLink.href = '{{ url_for('search_music_result', genre=genre, name=name) }}' + '?page=' + (currentPage - 1);
            prevPageLink.textContent = '＜＜ 前のページ';
            prevPageLink.addEventListener('click', function (event) {
              event.preventDefault();
              var newPage = currentPage - 1;
              if (newPage < 1) {
                newPage = 1;
              }
              showPage(newPage);
            });
            paginationContainer.appendChild(prevPageLink);
      
            for (var pageNum = 1; pageNum <= totalPages; pageNum++) {
              var pageLink = document.createElement('a');
              pageLink.href = '{{ url_for('search_music_result', genre=genre, name=name) }}' + '?page=' + pageNum;
              pageLink.textContent = pageNum;
      
              pageLink.addEventListener('click', function (event) {
                event.preventDefault();
                var clickedPage = parseInt(this.textContent, 10);
                showPage(clickedPage);
              });
      
              if (pageNum === currentPage) {
                pageLink.classList.add('current');
              }
      
              paginationContainer.appendChild(pageLink);
            }
      
            if (currentPage < totalPages) {
              var nextPageLink = document.createElement('a');
              nextPageLink.href = '{{ url_for('search_music_result', genre=genre, name=name) }}' + '?page=' + (currentPage + 1);
              nextPageLink.textContent = ' 次のページ ＞＞';
              nextPageLink.addEventListener('click', function (event) {
                event.preventDefault();
                showPage(currentPage + 1);
              });
              paginationContainer.appendChild(nextPageLink);
            }
          }
        }
      
        function filterAndSortMusic() {
          var musicLength = document.querySelector('.music-length').value;
          var selectedSite = document.querySelector('.site').value;
          var filteredItems = [];
      
          for (var i = 0; i < items.length; i++) {
            var musicLengthData = document.querySelectorAll('#music-length-data');
            var musicLengthNumber = musicLengthData[i].dataset.length;
      
            var musicSiteData = document.querySelectorAll('#music-site-data');
            var musicDataNumber = musicSiteData[i].dataset.site;
      
            var siteMatch = (selectedSite === '' || selectedSite === musicDataNumber);
            var lengthMatch = (musicLength === '' || musicLength === musicLengthNumber);
      
            if (siteMatch && lengthMatch) {
              filteredItems.push(items[i]);
            }
          }
      
          updatePagination(filteredItems.length);
          showPage(1); // フィルタリング後に最初のページを表示
        }
      
        document.querySelector('.music-length').addEventListener('change', filterAndSortMusic);
        document.querySelector('.site').addEventListener('change', filterAndSortMusic);
      
        // 初期セットアップ
        updatePagination(items.length);
        showPage(currentPage);
      });
      */
    </script>

<br>     

  <div class="footer04">
    <h1>MUSIC REEF</h1>
    <ul class="menu">
      <li><a href="#">ホーム</a></li>
      <li>
        <a href="about_the_site.html">MUSIC REEF(ミュージックリーフ)について</a>
      </li>
    </ul>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='/js/narrow.js') }}"></script>
</body>
</html>